.App {
    display: flex;
    flex-direction: column;
}

form {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #3838e0;
    border: 2px solid purple;
    height: 50px;
    display: flex;
}

.tt {
    background-color: yellow;
}

button {
    margin-left: 20px;
    height: 25px;
}