.usersAll {
  border: 3px solid purple;
}

.usersAll, .usersDetails {
  height: auto;
  box-sizing: border-box;
  width: 45%;
  margin: 20px ;
  padding: 15px 0 0 15px;
}

.usersDetails {
  border: 3px solid purple;
}

.a {
  display: flex;
  flex-wrap: wrap;
}

.post {
  border: 2px solid purple;
  padding-left: 10px 5px 0 0 ;
  background-color: cornflowerblue;
  width: 100%;
}