.launch {
    background-color: #d777d7;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 6px solid purple;
    margin: 15px;
    }

nav {
    width: 50%;
    text-align: center;
    padding: 15px;
   }
img{
    max-height: 200px;
    }